body {
  background-color: royalblue;
}
#App {
  max-width: 1000px;
  background: radial-gradient(rgba(52,89,149,1) 0%, rgba(43,92,144,1) 33.92%, rgba(0,109,119,1) 100%);
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  height: 100vh;
}
footer {
  font-size: 0.5rem;
  background-color: #c0ff33;
}